.szh-accordion__item--expanded{
    text-shadow: 0 0 2px black
}

.szh-accordion__item-heading button{
    background-color: transparent; 
    border: 0;
       
    font-family: 'Carter One', cursive;    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(61, 61, 61);
}

.accordion{
    font-family: 'Carter One', cursive;    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    color: white;
    
    max-width: 700px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.category-01{
    background-color: #99e5ee;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.category-02{
    background-color: #64e9a6;;
    max-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-03{
    background-color: #e99c72;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}