@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.logotype{
    color: rgb(0, 0, 0);
    font-family: Futura;
    // font-family: 'Monomaniac One', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
}

.logotype {
    span {
        display: inline-block;
    }
}

.logotype__text1 {
    text-transform:uppercase;
    color: rgb(0, 162, 244);
}

.logotype__text3{
    color: rgb(255, 165, 0);
}