@use '../variables.scss' as var; 

.manu-640-container{
    display:none;
        font-weight: 800;
}

.main-nav {
    background-color: rgba(255, 142, 3, 0);
    margin-top: var.$mt-extra ;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.main-nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1024px;
}

.main-nav-item {
    h4{
        cursor: pointer;
        padding: 0.8rem;
        font-size: 1.1rem;
        text-transform: uppercase;
        min-width: 150px;
        text-align: center;
    }
}

.main-nav-item:hover{
    background-color: rgb(248, 170, 25);
    position: relative;
    border-radius: 5px 5px 0 0;
}

.main-nav-submenu {
    transition: width 3s;
}

.main-nav-item:hover {
    .main-nav-submenu {
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        z-index: 1000;
        display: block;
        min-height: min-content;
        min-width: 150px;
        background-color: rgb(248, 170, 25);
        border-radius: 0 0 5px 5px;
    }
}

.main-nav-submenu{
    display: none;
    padding: 1rem;
    border-radius: 0 2px;
}


.main-nav-submenu {
    ul {
        li {
        padding: 0.5rem;
        text-transform: capitalize;
        cursor: pointer;
        }
    }
}

.main-nav-submenu {
    ul {
        li:hover {
            font-weight: 800;
        }
    }
}
