.home-container {
    max-width: 90vw;
    margin: 3rem auto 0;
}

.home-sub-con-01{
    display: grid;
    grid-template-columns: minmax(520px,700px) minmax(630px, 1fr);
    grid-template-rows: 360px;
}
.main-slider{
    grid-column: 1/2;
    height: 320px;  
    place-self: center;
    border: 3px solid rgb(255, 165, 0);
    border-radius: 20px;
}

.main-slider img {
    max-width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}

.main-banner {
    grid-column: 2/3;
    background-color: rgb(158, 158, 158); 
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.category01{
    background-color: rgb(153, 229, 238);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}
.category02{
    background-color: rgb(100, 233, 166);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
}
.category03{
    background-color: rgb(233, 156, 114);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
}

.home-sub-con-02{
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-items: center;

    margin-top: 3rem;
}

.home-sub-con-02 div {
    border: 2px solid black;
    height: 250px; 
}

.home-sub-con-02 div img{
    max-width: 100%;
    height: 100%; 
}
.mini-banner-01{
    max-height: 200px;
}

.mini-banner-02{
    max-height: 200px;
}

.mini-banner-03{
    max-height: 200px;
}

.mini-banner-04{
    max-height: 200px;
}

.mini-banner-05{
    max-height: 200px;
}

.mini-banner-06{
    max-height: 200px;
}

.home-sub-con-03{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: stretch;
    align-items: stretch;
    height: max-content;
    margin-top: 3rem;
}

.c-01-adv {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.c-01-adv img{
    align-self: center;
}

.c-02-adv {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;

}

.c-02-adv img{
    align-self: center;
}

.c-03-adv {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
}

.c-03-adv img{
    align-self: center;
}

.home-sub-con-04{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.c-01-disc{
    grid-column: 1/2;
    background-color: rgb(208, 208, 208);
    height: 200px;
}

.c-02-disc{
    grid-column: 2/3;
    background-color: rgb(208, 208, 208);
    height: 200px;
}

.c-03-disc{
    grid-column: 3/4;
    background-color: rgb(208, 208, 208);
    height: 200px;
}

.c-04-disc{
    grid-column: 4/5;
    background-color: rgb(208, 208, 208);
    height: 200px;
}

.footer{
    grid-row: 5/6;
    grid-column: 1/13;

    height: 200px;

    margin-top: 1rem;;

    background-color: rgb(208, 208, 208);
}