@media screen and (max-width:640px ) {

    .home-container{
        margin-top: var.$mt-640;
    }

    .home-sub-con-03{
        grid-template-columns: repeat(2,minmax(0px,450px) );
        padding-bottom: 2rem;
    }   

    .c-01-adv {
        grid-column: 1/2;
        grid-template-rows: 1/2;
    }
    
    .c-02-adv {
        grid-column: 2/3;
        grid-template-rows: 1/2;
    }
    
    .c-03-adv {
        grid-column: 1/2;
        grid-template-rows: 2/3;
    }

    .c-05-adv {
        grid-column: 2/2;
        grid-template-rows: 2/3;
    }
    .c-06-adv {
        grid-column: 1/2;
        grid-template-rows: 3/4;
    }
    .c-07-adv {
        grid-column: 2/3;
        grid-template-rows: 3/4;
    }
    
    .home-sub-con-3-item  {
        margin-top: 1.5rem;
        h2 {
            font-size: 2.4rem;
        }
        img{
            margin-bottom: 1.5rem;
            padding: 0 1rem;
        }
        button{
            font-size: 1.3rem;
            padding: 1rem;
        }
        p{
            margin-top: 0.6rem;
            font-size: 1rem;
        }
    }

    .home-sub-con-04{
        grid-template-columns: minmax(0px,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .home-sub-con-04 div{
        grid-column: 1/2;
    }

    .item-cart-container{
        max-width: initial
    }
}