@media screen and (max-width:768px ) {
    .item-cart-container{

        min-width: 100vw;
    }
    header {
        grid-template-rows: max-content max-content max-content;
        a{
            grid-column: 1 / 5;
            justify-self: center;
        }
        div,a,form,nav{
            margin: 0.3rem 0;
        }
    }
    
    .logotype{
        font-size: 5rem;
    }
    .search-bar{
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        justify-self: center;
    }

    .search-bar-input{
        min-width: 370px;
    }

    .main-nav {
        position: relative;
    }

    .main-nav-list {
        flex-shrink: 0;
    }

    .main-nav-item {
        h4{
            min-width: 100px;
        }
    }

    .main-nav-item:hover{
        
    }
    .main-nav-item:hover {
        position: inherit;
        .main-nav-submenu {
            min-width: inherit;
            top: 49px;
        }
    }

    .home-sub-con-01 {
        grid-template-rows: 1fr 1fr;   
    }
    
    .main-img-01 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .main-img-02{
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .main-img-03{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .home-sub-con-02{
        grid-template-columns: repeat(3,minmax(0px,1fr) );
        grid-template-rows: 1fr 1fr;
    }
    .home-sub-con-02 {
        div {
            img{
                width: 100%;
            }
        }
    }

    .home-sub-con-3-item {
        button{
            font-size: 1.1rem;
            padding: 0.6rem;
        }
        h2 {
            font-size: 1.4rem;
        }
        p{
            font-size: 0.85rem;
        }
    }
}